//
  Copyright (C) since 2007, Technical University of Munich (TUM) and mediaTUM authors
  SPDX-License-Identifier: AGPL-3.0-or-later

= old_version_alert_html
= deleted_version_alert_html

link(rel="stylesheet", href="/static/css/childs.css")
link(rel="stylesheet", href="/static/css/jade_style.css")

- block top
  // CSS, custom JS, counting pixel, etc...

.object_main.content_container
  - block before_metadata
    // thumbnails, additional download links, etc...

  dl.object_meta.object_column
    = metadata

    if license_url
      dt
        a.mediatum-link-external(href=license_url)
          img(src=license_image_url, width=100)

    if bibtex
      dt.action_icon
        a.mediatum-link-mediatum(href="/export/{{ node.id }}/bibtex", target="bibtexdocument", title=translate("doc_bibtex_title"))
          img.mediatum-icon-small(src="/static/img/bibtex.gif")
          |&nbsp;BibTeX

  - block after_metadata
    // additional download links, etc...
  .clear

if attachment and data_access
  #object_attachment
    a.mediatum-link-mediatum(
        onclick="javascript:openPopup('/attachmentbrowser?id={{ node.id }}&v={{ version }}&path={{ path }}')",
        href="#!",
    )
      = translate("doc_att_browser")

if versions_html
  = versions_html|safe

if children_html
  = children_html|safe

.clear

// generated from jade
//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
