- extends "styles/base.j2.jade"
- from "styles/macros.j2.jade" import metis, archive, format

- block top
  = metis(metis_url)

-block before_metadata
  if canseeoriginal
    .object_image.object_column.left.mediatum_paddingimg
      if zoom
        a(href=image_url, onclick="vgwPixelCall();", target='_blank')
          if node.get('width') >= node.get('height')
            img(src=presentation_url, style="width:300px;cursor:pointer;border:1px double silver;", border="1px")
          else
            img(src=presentation_url, style="cursor:pointer;border:1px double silver;", border="1px")
      else
        a(href=image_url, onclick="vgwPixelCall();", target='_blank')
          if node.get('width') != ''
            if node.get('width') >= node.get('height')
              img(src=presentation_url, style="width:300px;cursor:pointer;border:1px double silver;", border="1px")
            else
              img(src=presentation_url, style="max-width:300px;max-height:300px;cursor:pointer;border:1px double silver;", border="1px")
          else
            img(src=presentation_url, style="max-width:300px;max-height:300px;cursor:pointer;border:1px double silver;", border="1px")

      if image_formats
        = format(image_formats)

      if highres_url
        = archive(highres_url, archive_fetch_url)

  else
    .object_image.object_column.left.mediatum_paddingimg
      if zoom
        a(href=image_url, onclick="vgwPixelCall();", target='_blank')
          if node.get('width') != ''
            if node.get('width') >= node.get('height')
              img(src=presentation_url, style="width:300px;cursor:pointer;border:1px double silver;", border="1px")
            else
              img(src=presentation_url, style="max-width:300px;max-height:300px;cursor:pointer;border:1px double silver;", border="1px")
          else
            img(src=presentation_url, style="max-width:300px;max-height:300px;cursor:pointer;border:1px double silver;", border="1px")
      else
        img(src=presentation_url, style="width: 300px;border:1px double silver;", border="1px")

      if image_formats
        = format(image_formats)


// generated from jade
//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
