//
  Copyright (C) since 2007, Technical University of Munich (TUM) and mediaTUM authors
  SPDX-License-Identifier: AGPL-3.0-or-later

- macro metis(metis_url)
  if metis_url
    div(id="metis-url", data-metis-url="{{metis_url}}")
    script(type='text/javascript').
      function vgwPixelCall() {
        div_metis_url = document.getElementById("metis-url");
        var image = new Image();
        image.src = div_metis_url.getAttribute("data-metis-url");
        image.width = "1";
        image.height = "1";
        div_metis_url.appendChild(image);
      }


- macro format(image_formats)
  h3= translate("image_available_formats")
  ul
    for type in image_formats
      li
        a.mediatum-link-mediatum(href=image_formats[type]['url'])
          span {{ type }} ({{ image_formats[type]['display_size'] }})


- macro archive(highres_url, archive_fetch_url)
  if archive_fetch_url == "pending"
    span.mediatum-editor-nav-image-wait
  if archive_fetch_url and archive_fetch_url != "pending"
    div(style="padding-top:10px")
      script(type='text/javascript').
        function getArchivedFile(path) {
          // replace archive fetch link with spinner image
          var archive_div = document.getElementById('archive_div');
          var span = document.createElement("span");
          span.classList.add("mediatum-editor-nav-image-wait");
          archive_div.replaceChildren(span);
          $.ajax({
            url: path,
            type: "GET",
            success: function (msg) {
              archive_div.style.display = 'none';
              $('#high_resolution_link').show();
            },
            error: function (msg) {
              alert(msg.responseText);
              archive_div.style.display = 'none';
            }
          });
        }
      a.mediatum-link-mediatum(style="display:none;", id="high_resolution_link", href=highres_url)
        = translate("image_high_res_title")
      div(id="archive_div")
        a.mediatum-link-mediatum(id="get_archive_link", href="javascript:getArchivedFile('{}')".format(archive_fetch_url))
          = translate("image_high_res_archive")
  if not archive_fetch_url
    div(style="padding-top:20px")
      a.mediatum-link-mediatum(href=highres_url)
        = translate("image_high_res_title")

- macro itemsperpage(nodesperpage, nodesperpage_options)
  div
    label(style='font-size:10px;')
      = translate("items_per_page")
    select(name='nodes_per_page', onchange='insertParameter(name, this.value)', style='font-size:10px;')
      for n in nodesperpage_options
        option(value=n, selected=n == nodesperpage)
           = translate(n)

// generated from jade
//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
