//
  Copyright (C) since 2007, Technical University of Munich (TUM) and mediaTUM authors
  SPDX-License-Identifier: AGPL-3.0-or-later

each file in files
  - var mapping = dict(name=xml_escape(file.node.name), nodeid=file.node.id|string)
  - var title = translate('stylelist-nodelink-title', mapping=mapping)
  .preview_list
    if file.attachment
      div.mediatum-stylelist-attach
        img(title=translate('view_list_att_title'), src='/static/img/attach.png')
    div.mediatum-stylelist-img
      if title
        a.mediatum-stylelist-a(href=file.getLink(), title=title)
          img.thumbnail(src='/thumbnail/{}'.format(file.node.id), border='0')
      else
        a.mediatum-stylelist-a(href=file.getLink())
          img.thumbnail(src='/thumbnail/{}'.format(file.node.id), border='0')
    div.mediatum-stylelist-div
      if title
        a.mediatum-stylelist-a(href=file.getLink(), title=title)
          = translate('stylelist-nodelink-text', mapping=mapping)
      else
        a.mediatum-stylelist-a(href=file.getLink())
          = translate('stylelist-nodelink-text', mapping=mapping)
      p
        = file.text
    .break
      = ''
