#portal-breadcrumbs
  if logo and logo.getPath()
    #collectionlogo
      if logo.getURL()
        a(href=logo.getURL(), target='_blank')
          img(src=logo.getPath(), title=logo.getURL(), style='margin-left: 30px;')
      else
        img(src python:logo.getPath(), style='margin-left: 30px;')
  div(style='text-align:right; float:right')
    p
      if styles|length > 1
        for style in styles
          a#view_switch(href=select_style_link(style=style.name), title=_t(style.label))
            img(src='/img/{}'.format(style.icon))
      if printlink
        a#view_switch(target='_blank', href=printlink, rel="nofollow", title=_t("printpdf"))
          img(src='/img/print_icon.gif')
  if path
    div(style='padding-bottom:20px')
      for step in path
        a(href=node_url(step.id))
          = step.getLabel()
        img.breadcrumb-delimiter(src='../img/breadcrumb-arrow.gif')
      a(href=node_url(node.id))
        = node.getLabel()


// generated from jade
//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
