//
  Copyright (C) since 2007, Technical University of Munich (TUM) and mediaTUM authors
  SPDX-License-Identifier: AGPL-3.0-or-later

#list-page-nav
  if before
    a.page-nav.page-nav-previous(href=nav.nav_link(before=before))
      = _t('previous')
  if after
    a.page-nav.page-nav-next(href=nav.nav_link(after=after))
      = _t('next')


// generated from jade
//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
