//
  Copyright (C) since 2007, Technical University of Munich (TUM) and mediaTUM authors
  SPDX-License-Identifier: AGPL-3.0-or-later

- from "styles/macros.j2.jade" import itemsperpage

#portal-pages
  .mediatum-content-nav-list
    .mediatum-content-nav-1
      form
        for param in nav.nav_params.items()
          if not param[0].startswith('sortfield')
            input(type='hidden',name=param[0], value=param[1])
        div.mediatum-content-nav-sort
          for i in range(sortfieldslist|length)
            div.mediatum-content-nav-sort-field
              div.mediatum-content-nav-sort-field-label
                if i==0
                  small
                    = translate('sort_label')
                else
                  small
                    = translate('sort_label2')
              div.mediatum-content-nav-sort-field-select
                select(name='sortfield{}'.format(i), style='font-size: 9px', onchange='submit()')
                  for field in sortfieldslist[i]
                    option(value=field.getName(), selected=field.selected())
                      = translate(field.getLabel())
    .mediatum-content-nav-2
      = page_nav
    .mediatum-content-nav-3
      = itemsperpage(nodesperpage, nodesperpage_options)

// generated from jade
//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
