//
  Copyright (C) since 2007, Technical University of Munich (TUM) and mediaTUM authors
  SPDX-License-Identifier: AGPL-3.0-or-later

#result-nav
  table
    tr
      td(align='left', valign='top', nowrap='')
        a(href=nav.link_first())
          div(id='mediatum_img_pageleft_end')
        a(href=nav.link_prev())
          div(id='mediatum_img_pageleft')
      td(width='100%', align='center')
        a.mediatum-link-mediatum(href='javascript: history.back()')
          = translate('back')
        br
        a.mediatum-link-mediatum(href=nav.link_back())
          = translate('back_to_list_view_start')
        br
        a.mediatum-link-mediatum(href=nav.link_current_node())
          = translate('direct_link_current_node')
      td(align='right', valign='top', nowrap='')
        a(href=nav.link_next())
          div(id='mediatum_img_pageright')
        a(href=nav.link_last())
          div(id='mediatum_img_pageright_end')
  br


// generated from jade
//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
